{% extends 'admin_layout.html' %}

{% block content %}

<div style="text-align:center">
    <div class="btn"><a href="/login">Вернуться назад</a></div>
    <div class="btn"><a href="/">Вернуться домой</a></div>
</div>

{% if messages %}
<div id="messages">
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Options</th>
            <th></th>
        </tr>
        <tr>
            {% for m in messages %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.name }}</td>
            <td>{{ m.email }}</td>
            <td>{{ m.message }}</td>
            <td>{{ m.selected_option }}</td>
            <td><a href="javascript:void(0)" onclick="process({{ m.id }})">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

<script>
    function process(id) {
  console.log(id)
  fetch('/form_messages/' + id, {
      method: 'DELETE',
      headers: {
        'Accept': 'application/json'
      }
    })
    .then(response => {
      if (response.ok) {
        // Успішна відповідь (статус 200–299)
        return response.json(); // Якщо сервер повертає JSON
      } else {
        // Неуспішна відповідь (наприклад, 404, 500 і т.п.)
        throw new Error(`Помилка сервера: ${response.status}`);
      }
    })
    .then(data => {
      // Тут вже приходять розпарсені дані (якщо все успішно)
      console.log('Успіх:', data);

      if (data.success) {
        window.location.reload();
      }
    })
    .catch(error => {
      // Тут обробляються всі помилки: мережеві або з блоку throw
      console.error('Сталася помилка:', error);
      alert('Не вдалося видалити повідомлення.');
    });
}
</script>
{% endblock %}